{% extends "_base_header.html" %}

{% block page_title %}
Advanced
{% endblock %}

{% block page_description %}
Run your tutor commands from a web terminal.
{% endblock %}

{% block page_button %}
{% endblock %}

{% block searchbar %}
{% endblock %}

{% block warning %}
{% endblock %}


{% set sidebar_active_tab = "advanced" %}

{% block workspace_content %}
<div class="command-container">
    <form method="post" action="{{ url_for('command') }}">
        <input type="text" id="command" name="command" placeholder="">
        <button type="submit">Run Command</button>
    </form>
</div>
<div class="tutor-logs-container">
    <pre id="tutor-logs" hx-ext="sse" sse-connect="{{ url_for('cli_logs_stream') }}" sse-swap="logs"></pre>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}