{% extends "index.html" %}

{% block workspace_header %}
<div class="header-bar">
    <div class="info-container">
        <div class="page-title">{% block page_title %}{% endblock %}</div>
        <div class="page-description">{% block page_description %}{% endblock %}</div>
    </div>
    <div class="page-button">
        {% block page_button %}{% endblock %}
    </div>
</div>
<div class="search-container">
    <img src="{{ url_for('static', filename='/img/search.svg') }}"/>
    <input id="search-input" type="text" class="form-control search-input" placeholder="Search...">
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById("search-input").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {  
            const searchInput = this.value.trim();
            const url = new URL(window.location.href);

            url.searchParams.set("q", searchInput);  

            url.searchParams.set("page", 1);  
            window.location.href = url.toString(); 
        }
    });
</script>
{% endblock %}
