{% extends 'index.html' %}

{% block workspace_header %}Tutor command logs{% endblock %}

{% block workspace_content %}
<pre id="tutor-logs" hx-ext="sse" sse-connect="{{ url_for('cli_logs_stream') }}" sse-swap="logs"></pre>
{% endblock %}

{% block scripts %}
<script>
    htmx.on("htmx:sseBeforeMessage", function(evt) {
        // Don't swap content, we want to append
        evt.preventDefault();

        // Parse JSON
        const stdout = JSON.parse(evt.detail.data);

        // Note that HTML is automatically escaped
        const text = document.createTextNode(stdout);
        evt.detail.elt.appendChild(text);

        // Scroll to bottom
        evt.detail.elt.scrollTop = evt.detail.elt.scrollHeight;
    });
</script>
{% endblock %}
