<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tutor Dash">

    <title>Tutor Dash</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/favicon.png') }}">
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link href="{{ url_for('static', filename='/css/dash.css') }}" rel="stylesheet">
    <script src="{{url_for('static', filename='/js/htmx.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/sse.js')}}"></script>
</head>

<body>
    <div class="main-container">
        <div class="sidebar">
            <div class="section">
                <div class="header">
                    <div class="image">
                        <img src="{{ url_for('static', filename='/img/Edly Red Icon.svg') }}"/>
                    </div>
                    <div class="text">
                        Edly
                    </div>
                </div>
                <div class="content">
                    <div>
                        <a href="{{ url_for('plugin_store') }}">
                            <li id="plugin-marketplace" class="sidebar-tab">
                                <img id="plugin-marketplace-logo" class="sidebar-tab-logo" src="{{ url_for('static', filename='/img/shopping-bag.svg') }}" height="20rem"/>
                                <span>Plugin Marketplace</span>
                            </li>
                        </a>
                        <p></p>
                        <a href="{{ url_for('installed_plugins') }}">
                            <li id="my-plugins" class="sidebar-tab">
                                <img id="my-plugins-logo" class="sidebar-tab-logo" src="{{ url_for('static', filename='/img/stack.svg') }}" height="25rem"/>
                                <span>My Plugins</span>
                            </li>
                        </a>
                    </div>
                </div>
                <div class="footer">

                </div>
            </div>
        </div>

        <div class="workspace">
            <div class="header">
                {% block workspace_header %}{% endblock %}
            </div>
            <div class="content">
                {% block workspace_content %}{% endblock %}
            </div>
            <div class="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="modal-container" id="modal_container">
        <div class="modal-content">
            <div class="modal-header">
                {% block model_icon %}{% endblock %}
                <button type="button" class="close-modal-button">
                    <img src="{{ url_for('static', filename='/img/X.svg') }}" alt="">
                </button>
            </div>
            <div class="modal-body">
                <h3>{% block modal_title%}{% endblock %}</h3>
                <p>{% block modal_description %}{% endblock %}</p>
            </div>
            <div class="modal-footer">
                {% block modal_footer %}{% endblock %}
            </div>
        </div>
      </div>

    <script src="{{ url_for('static', filename='/js/dash.js') }}"></script>

    {% if sidebar_active_tab %}
    <script>
        document.getElementById('{{ sidebar_active_tab }}').classList.toggle('sidebar-tab-selected');
        document.getElementById('{{ sidebar_active_tab }}-logo').classList.toggle('sidebar-tab-logo-selected');
    </script>
    {% endif %}

    {% block scripts %}{% endblock %}
</body>

</html>
