{% extends "base_header.html" %}

{% from 'switch_macro.html' import switch %}

{% block page_title %}
My Plugins
{% endblock %}

{% block page_description %}
View all your installed plugins in one place.
{% endblock %}

{% block page_button %}
<button class="modal-button open-modal-button" type="button">Local Launch</button>
{% endblock %}

{% block model_icon %}
<img src="{{ url_for('static', filename='/img/Featured icon.svg') }}" alt=""> 
{% endblock %}

{% block modal_title %}
Run local launch for all plugins?
{% endblock %}

{% block modal_description %}
Running local launch will allow all changes to plugins to take effect. This could take a few minutes to complete.
{% endblock %}

{% block modal_footer %}
<button type="button" class="modal-button close-modal-button">Not Now</button>
<form method="POST" action="{{ url_for('cli_local_launch')}}">
    <button class="modal-button run_modal_button" type="submit">Run Local Launch</button>
</form>
{% endblock %}

{% set sidebar_active_tab = "my-plugins" %}

{% block workspace_content %}
<div id="warning-main">
    <img src="{{ url_for('static', filename='/img/Featured icon.svg')}}" alt="">
    <span>Changes have been made to some plugins that will only take effect after a local launch.</span>
</div>
<div class="installed-plugins-list">
    {% for plugin in plugins %}
    <div class="installed-plugin">
        <div class="details">
            <div class="name"><a href="{{ url_for('plugin', name=plugin.name) }}">{{ plugin.name }}</a></div>
            <div class="author">{{ plugin.author }}</div>
            <div class="description">{{ plugin.description|safe }}</div>
        </div>
        <div class="warning" id="{{plugin.name}}-warning">
            <img src="{{ url_for('static', filename='/img/Featured icon.svg')}}" alt="">
        </div>

        {{ switch(plugin.name, plugin.is_enabled)}}
    </div>
    {% endfor %}
</div>
{% endblock %}
