{% extends "_base_header.html" %}

{% block page_title %}
Execute Local Launch
{% endblock %}

{% block page_description %}
Running local launch will allow all changes to plugins to take effect. This could take a few minutes to complete.
{% endblock %}

{% block page_button %}
<button id="cancel-local-launch-button" hx-post="{{ url_for('cli_stop')}}" hx-trigger="click" hx-swap="none" class="modal-button cancel-process-button" type="submit">Cancel</button>
<button id="local-launch-button" class="modal-button open-modal-button" type="button">Local Launch</button>
{% endblock %}

{% block searchbar %}
{% endblock %}

{% block warning %}
{% endblock %}


{% set sidebar_active_tab = "local-launch" %}

{% block scripts %}
<script>
    local_launch_button = document.getElementById('local-launch-button')
    cancel_local_launch_button = document.getElementById('cancel-local-launch-button') 
    function ShowRunCommandButton(){
            local_launch_button.style.display = 'block';
            cancel_local_launch_button.style.display = 'none'; 
        }
    function ShowCancelCommandButton(){
        local_launch_button.style.display = 'none';
        cancel_local_launch_button.style.display = 'block'; 
    }
    ShowRunCommandButton();
</script>
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}