{% extends "base_header.html" %}

{% block page_title %}
Execute Local Launch
{% endblock %}

{% block page_description %}
Running local launch will allow all changes to plugins to take effect. This could take a few minutes to complete.
{% endblock %}

{% block page_button %}
<button class="modal-button open-modal-button" type="button">Local Launch</button>
{% endblock %}

{% block searchbar %}
{% endblock %}

{% block warning %}
{% endblock %}

{% block model_icon %}
<img src="{{ url_for('static', filename='/img/Featured icon.svg') }}" alt=""> 
{% endblock %}

{% block modal_title %}
Run local launch for all plugins?
{% endblock %}

{% block modal_description %}
Running local launch will allow all changes to plugins to take effect. This could take a few minutes to complete.
{% endblock %}

{% block modal_footer %}
<button type="button" class="modal-button close-modal-button">Not Now</button>
<form method="POST" action="{{ url_for('cli_local_launch')}}">
    <button class="modal-button run_modal_button" type="submit">Run Local Launch</button>
</form>
{% endblock %}

{% set sidebar_active_tab = "local-launch" %}