{% extends "_plugin_header.html" %}

{% set sidebar_active_tab = "" %}

{% from '_switch.html' import switch %}

{% block workspace_content %}
<div class="status" id="plugin-enable-disable-bar">
    <div class="topbar">
        <div class="status-text">
            Status
        </div>
        {{ switch(plugin_name, is_enabled) }}
        <div class="title">
            {% if is_enabled %} Enabled {% else %} Disabled {% endif %}
        </div>
    </div>
    <div class="description">
        {% if not is_enabled %} Enable the plugin to edit parameters. {% endif %}
    </div>
</div>

{% if is_enabled and not show_logs %}
<div class="parameter-info">
    <h2>Plugin Parameters</h2>
    <p>This plugin has default parameters. If you make any changes, save them and run a local launch to make the changes effective.</p>
</div>
<form action="{{ url_for('config_set_multi') }}" method="POST">
    <input type="hidden" name="plugin_name" value="{{ plugin_name }}" size="50"/>
    
    <h3>Unique settings</h3>
    {% if plugin_config_unique %}
    {% with config=plugin_config_unique %}{% include "_config.html" %}{% endwith %}
    {% endif %}

    <h3>Default settings</h3>
    {% if plugin_config_defaults %}
    {% with config=plugin_config_defaults %}{% include "_config.html" %}{% endwith %}
    {% endif %}
    <button type="submit">Update All</button>
</form>

{% endif %}

{% endblock %}

{% block scripts %}
    <script>
        pluginName = '{{ plugin_name }}';
        isPluginInstalled = '{{ is_installed }}' === 'True';
        isPluginEnabled = '{{ is_enabled }}' === 'True';
        plugin_upgrade_button = document.getElementById('plugin-upgrade-button');
        plugin_install_button = document.getElementById('plugin-install-button');
        cancel_command_button = document.getElementById('cancel-command-button');

        function showPluginInstallButton(){
            plugin_install_button.style.display = 'block';
            plugin_upgrade_button.style.display = 'none'; 
            cancel_command_button.style.display = 'none'; 
        }
        function showPluginUpgradeButton(){
            plugin_install_button.style.display = 'none';
            plugin_upgrade_button.style.display = 'block'; 
            cancel_command_button.style.display = 'none'; 
        }
        function ShowCancelCommandButton(){
            plugin_install_button.style.display = 'none';
            plugin_upgrade_button.style.display = 'none'; 
            cancel_command_button.style.display = 'block'; 
        }
        function ShowRunCommandButton(){
            if (isPluginInstalled){
                showPluginUpgradeButton();
            } else {
                showPluginInstallButton();
            }
        }
        function showPluginEnableDisableBar() {
            const bar = document.getElementById('plugin-enable-disable-bar');
            bar.style.display = isPluginInstalled === true ? 'flex' : 'none';
        }

        showPluginEnableDisableBar();
	    ShowRunCommandButton();
    </script>

    <script src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}
