{% extends "base_header.html" %}

{% block page_title %}
Plugin Marketplace
{% endblock %}

{% block page_description %}
View and install available plugins.
{% endblock %}

{% block page_button %}
<form action="{{ url_for('plugins_update') }}" method="POST">
    <button class="modal-button" type="submit">Refresh</button>
</form>
{% endblock %}

{% set sidebar_active_tab = "plugin-marketplace" %}

{% block workspace_content %}
<div class="store-plugins">
    {% for plugin in plugins %}
        <div class="plugin">
            <div class="header">
                <div class="title">
                    <div class="name">
                    <a href="{{ url_for('plugin', name=plugin.name) }}">{{ plugin.name }}</a>
                    </div>
                    <div class="author">
                        By {{ plugin.author }}
                    </div>
                </div>
                <div class="status">
                    {% if plugin.is_installed %}
                    <img src="{{ url_for('static', filename='/img/CheckCircle.svg') }}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="body">
                <!-- TODO is that actually safe? -->
                {{ plugin.description|safe }}
            </div>
            <div class="footer">
                <div class="meta">

                </div>
                <div class="plugin-button">
                    {% if plugin.is_installed %}
                    <form action="{{ url_for('plugin_upgrade', name=plugin.name) }}" method="POST">
                        <button type="submit">Upgrade</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('plugin_install', name=plugin.name) }}" method="POST">
                        <button type="submit">Install</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<div class="pagination">
    <a href="{{ url_for('plugin_store', page=current_page+1)}}">
        <div class="pagination-button">
            &#62;
        </div>
    </a>
    {% if page_count > 4 %}
        {% for i in range(1, 5) %} 
        <a href="{{ url_for('plugin_store', page=i)}}">
            <div class="pagination-button">
                {{i}}
            </div>
        </a>
            {% if i == 2 %}
            <div class="pagination-button">
                ...
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for i in range(1,page_count+1) %} 
        <a href="{{ url_for('plugin_store', page=i)}}">
            <div class="pagination-button">
                {{i}}
            </div>
        </a>
        {% endfor %}
    {% endif %}
    <a href="{{ url_for('plugin_store', page=current_page-1)}}">
        <div class="pagination-button">
            &#60;
        </div>
    </a>
</div>
{% endblock %}
