{% extends "index.html" %}

{% block workspace_header %}{{ plugin_name }}{% endblock %}

{% block workspace_content %}
Enabled: <form method="POST" action="{{ url_for('plugin_toggle', name=plugin_name) }}">
    <input type="checkbox" name="enabled" onchange="this.form.submit()" {% if is_enabled %}checked{% endif %} />
</form>

{% if is_enabled %}
<h2>Configuration</h2>

<h3>Unique settings</h3>
{% if plugin_config_unique %}
{% with config=plugin_config_unique %}{% include "_config.html" %}{% endwith %}
{% else %}
<p>None defined</p>
{% endif %}

<h3>Default settings</h3>
{% if plugin_config_defaults %}
{% with config=plugin_config_defaults %}{% include "_config.html" %}{% endwith %}
{% else %}
<p>None defined</p>
{% endif %}

{% endif %}
{% endblock %}
