{% extends "_base_header.html" %}

{% block page_title %}
My Plugins
{% endblock %}

{% block page_description %}
View all your installed plugins in one place.
{% endblock %}

{% block page_button %}
<button class="modal-button open-modal-button" type="button">Local Launch</button>
{% endblock %}

{% set sidebar_active_tab = "my-plugins" %}

{% set search_endpoint = url_for('plugin_installed_list') %}

{% block workspace_content %}
<div id="plugins-list" class="installed-plugins-list" hx-get="{{ search_endpoint }}" hx-trigger="load"></div>
{% endblock %}
