$edly-logo-red: #dc1f26;
$dark-gray: #4a4a4a;
$gray: #535862;
$light-gray: #888;
$black: #181d27;
$white: #e6f3ff;
$blue: #1570ef;
$light-blue: #2e90fa;
$font-family_1: Arial;

* {
	box-sizing: border-box;
}
html {
	height: 100%;
	margin: 0;
}
body {
	height: 100%;
	margin: 0;
	font-family: $font-family_1;
	height: 100vh;
}
.main-container {
	display: flex;
	.sidebar {
		flex: 0 0 19em;
		border-right: 1px solid #c4c4c4;
		box-shadow: 2px 0px #e3e3e3;
		display: flex;
		flex-direction: column;
		height: 55em;
		.section {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			height: 100%;
			.header {
				flex: 0 0 6em;
				border-bottom: 1px solid #c4c4c4;
				display: flex;
				align-items: center;
				.image {
					margin-left: 2em;
					width: 2em;
					img {
						width: 100%;
						height: auto;
					}
				}
				.text {
					font-size: 2rem;
					color: $edly-logo-red;
					font-weight: bold;
					margin-left: 0.25em;
				}
			}
			.content {
				display: flex;
				flex-direction: column;
				div {
					flex: 0 0 8em;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					margin-top: 1em;
					a {
						list-style: none;
						text-decoration: none;
						color: $dark-gray;
						font-size: 16px;
						font-weight: 600;
						margin: 0em 1em;
						border-radius: 1em;
						&:hover {
							background-color: $white;
						}
						li {
							padding: 0.5em 1em;
							span {
								margin-left: 0.5em;
							}
							.sidebar-tab-logo-selected {
								filter: invert(39%) sepia(98%) saturate(3884%)
									hue-rotate(205deg) brightness(95%)
									contrast(96%);
							}
						}

						.sidebar-tab-selected {
							color: $blue;
							background-color: $white;
							border-radius: inherit;
						}
					}
				}
			}
		}
	}
	.workspace {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.header {
			display: flex;
			flex-direction: column;
			margin: 2em;
			.header-bar {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 4.5em;
				.info-container {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 100%;
					.page-title {
						font-size: 30px;
						font-weight: 600;
					}
					.page-description {
						font-size: 16px;
						color: $gray;
					}
				}

				.launch-button {
					display: flex;
					justify-content: center;
					button {
						width: 9em;
						height: 2.5em;
						background-color: $light-blue;
						border: none;
						border-radius: 0.5em;
						color: $white;
						font-size: 1em;
						cursor: pointer;
					}
				}
			}
			.search-container {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-top: 3em;

				.search-input {
					font-size: 1em;
					height: 3em;
					width: 20em;
					border-radius: 10px;
					padding-left: 2.5em;
					border: 1px solid #c4c4c4;
				}

				img {
					position: relative;
					left: 2em;
				}
			}
		}
		.content {
			flex-grow: 1;
			margin: 0em 2em 2em 2em;
			.installed-plugins-list {
				border: 1px solid #c4c4c4;
				border-radius: 1em;
				display: flex;
				flex-direction: column;
				.installed-plugin {
					display: flex;
					justify-content: space-between;
					padding: 1em 2em;
					border-bottom: 1px solid #c4c4c4;
					&:last-child {
						border-bottom: none;
					}
					div {
						display: flex;
						flex-direction: column;
						justify-content: center;
						.name {
							font-size: 1.25em;
							a {
								text-decoration: none;
								text-transform: capitalize;

								&:visited {
									text-decoration: none;
									color: $blue;
								}
							}
						}
						.author {
							font-size: 1.15em;
							color: $gray;
						}
						.description {
							font-size: 1em;
							color: $black;
							p {
								width: 50em;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
					.details {
						width: 30em;
					}
					.form-switch {
						.switch {
							position: relative;
							display: inline-block;
							width: 60px;
							height: 34px;

							.slider {
								position: absolute;
								cursor: pointer;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background-color: #ccc;
								-webkit-transition: 0.4s;
								transition: 0.4s;
								&:before {
									position: absolute;
									content: "";
									height: 26px;
									width: 26px;
									left: 4px;
									bottom: 4px;
									background-color: white;
									-webkit-transition: 0.4s;
									transition: 0.4s;
								}
							}

							.slider.round {
								border-radius: 34px;
							}

							.slider.round:before {
								border-radius: 50%;
							}

							input {
								opacity: 0;
								width: 0;
								height: 0;

								&:checked + .slider {
									background-color: #2196f3;
								}

								&:focus + .slider {
									box-shadow: 0 0 1px #2196f3;
								}

								&:checked + .slider:before {
									-webkit-transform: translateX(26px);
									-ms-transform: translateX(26px);
									transform: translateX(26px);
								}
							}
						}
					}
				}
			}
		}
	}
}

.modal-container {
	background-color: rgba(0, 0, 0, 0.3);
	/* Center modal container */
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	opacity: 0; /* to be hidden by default */
	pointer-events: none; /* so we can click the modal trigger */
	top: 0;
	left: 0;
	height: 100vh; /* =100% of viewport height */
	width: 100vw; /* = 100% of viewport width */
	transition: opacity 0.3s ease;

	&.show {
		pointer-events: auto; /* set back the default value */
		opacity: 1;
	}

	.modal-content {
		background-color: #fff;
		border-radius: 2em;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		padding: 30px 50px;
		width: 37.5em;
		height: 18em;
		max-width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.modal-header {
			display: flex;
			justify-content: space-between;

			button {
				background: none;
				border: none;
				cursor: pointer;
			}
		}

		.modal-body {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: left;

			h3 {
				color: $black;
				margin-bottom: 0px;
			}

			p {
				color: $gray;
			}
		}

		.modal-footer {
			display: flex;
			justify-content: flex-end;
			margin-top: 1em;

			button {
				cursor: pointer;
				border-radius: 0.5em;
				padding: 0.5em 1em;
			}

			.close-modal-button {
				background: none;
				border: 1px solid #888;
				color: $black;
				padding: 0.5em 1em;
				margin-right: 1em;
				font-size: 1em;
			}

			.run_modal_button {
				background: none;
				border: none;
				background-color: $light-blue;
				color: $white;
				font-size: 1em;
			}
		}
	}
}
